<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments :: myheader">

    </div>
    <title>posts</title>
</head>
<body>
<div th:replace="fragments :: navbar"></div>


<div class="container ">


    <hr class="mb-4">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <span class="anchor" id="createPost"></span>
            <!-- form card login -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Create a new Post</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}" autocomplete="off" class="form" id="formCreate"  role="form">
                        <div class="form-group">
                            <label for="post-title">Post title</label>
                            <input th:field="*{title}" class="form-control" id="post-title"  required="" type="text">
                        </div>
                        <div class="form-group">
                            <label for="post-body">Description</label>
                            <input th:field="*{body}" autocomplete="description" class="form-control" id="post-body" required="" type="text" >
                        </div>

                        <button class="btn btn-success btn-lg float-right" type="submit" value="CreatePost">Submit</button>
                    </form>
                </div><!--/card-block-->
            </div><!-- /form card login -->
        </div>
    </div>

</div>

</body>
</html>
